VirtualClassroom.StudentClient/Service References/StudentServiceReference/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" />
  <xs:element name="LoginStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="LoginStudentResult" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="GetLessonsByStudentResult" nillable="true" type="q2:ArrayOfLesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="GetSubjectsByStudentResult" nillable="true" type="q3:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLessonContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLessonContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="DownloadLessonContentResult" nillable="true" type="q4:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLessonHomework">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLessonHomeworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="DownloadLessonHomeworkResult" nillable="true" type="q5:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHomework">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="homework" nillable="true" type="q6:Homework" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHomeworkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeworksByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeworksByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="GetHomeworksByStudentResult" nillable="true" type="q7:ArrayOfHomework" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>