VirtualClassroom.StudentClient/Service References/StudentServiceReference/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" />
  <xs:element name="LoginStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="LoginStudentResult" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" minOccurs="0" name="GetLessonsByStudentResult" nillable="true" type="q2:ArrayOfLesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>