VirtualClassroom.StudentClient/Service References/StudentServiceReference/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="EGN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Homeworks" nillable="true" type="tns:ArrayOfHomework" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfHomework">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Homework" nillable="true" type="tns:Homework" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHomework" nillable="true" type="tns:ArrayOfHomework" />
  <xs:complexType name="Homework">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LessonId" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Homework" nillable="true" type="tns:Homework" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContentFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeworkContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HomeworkDeadline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeworkFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Homeworks" nillable="true" type="tns:ArrayOfHomework" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
</xs:schema>