virtualclassroom.studentclient/Service References/StudentServiceReference/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLessonView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonView" nillable="true" type="tns:LessonView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonView" nillable="true" type="tns:ArrayOfLessonView" />
  <xs:complexType name="LessonView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasHomework" type="xs:boolean" />
      <xs:element minOccurs="0" name="HomeworkDeadline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentHomework" type="xs:boolean" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonView" nillable="true" type="tns:LessonView" />
  <xs:complexType name="ArrayOfTestView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestView" nillable="true" type="tns:TestView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestView" nillable="true" type="tns:ArrayOfTestView" />
  <xs:complexType name="TestView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxScore" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestView" nillable="true" type="tns:TestView" />
</xs:schema>