VirtualClassroom.StudentClient/Service References/StudentServiceReference/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://virtualclassroomservices.apphb.com/Services/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualClassroom.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_LoginStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_LoginStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetLessonsByStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsByStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetLessonsByStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsByStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetSubjectsByStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetSubjectsByStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DownloadLessonContent_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonContent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DownloadLessonContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonContentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DownloadLessonHomework_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonHomework" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DownloadLessonHomework_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLessonHomeworkResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddHomework_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHomework" />
  </wsdl:message>
  <wsdl:message name="IStudentService_AddHomework_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHomeworkResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetHomeworksByStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeworksByStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetHomeworksByStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeworksByStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="LoginStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/LoginStudent" message="tns:IStudentService_LoginStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/LoginStudentResponse" message="tns:IStudentService_LoginStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonsByStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetLessonsByStudent" message="tns:IStudentService_GetLessonsByStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetLessonsByStudentResponse" message="tns:IStudentService_GetLessonsByStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsByStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetSubjectsByStudent" message="tns:IStudentService_GetSubjectsByStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetSubjectsByStudentResponse" message="tns:IStudentService_GetSubjectsByStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/DownloadLessonContent" message="tns:IStudentService_DownloadLessonContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/DownloadLessonContentResponse" message="tns:IStudentService_DownloadLessonContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonHomework">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/DownloadLessonHomework" message="tns:IStudentService_DownloadLessonHomework_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/DownloadLessonHomeworkResponse" message="tns:IStudentService_DownloadLessonHomework_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHomework">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/AddHomework" message="tns:IStudentService_AddHomework_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/AddHomeworkResponse" message="tns:IStudentService_AddHomework_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomeworksByStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetHomeworksByStudent" message="tns:IStudentService_GetHomeworksByStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetHomeworksByStudentResponse" message="tns:IStudentService_GetHomeworksByStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/LoginStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonsByStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetLessonsByStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsByStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetSubjectsByStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonContent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/DownloadLessonContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLessonHomework">
      <soap:operation soapAction="http://tempuri.org/IStudentService/DownloadLessonHomework" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomework">
      <soap:operation soapAction="http://tempuri.org/IStudentService/AddHomework" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeworksByStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetHomeworksByStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://virtualclassroomservices.apphb.com/Services/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>